
body {
  font-family: "Cinzel", serif;
  color: #fff;
  background-image: url(https://wallpapercave.com/wp/o5UXr4f.jpg);
  background-repeat: repeat;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
  font-family: "Cinzel", serif;
 }
 
 .container {
  background: #ffe4c4;
  margin-top: 7vh;
  border-radius: 25px;
  border: 15px double #b22222;
  padding: 0 40px 20px 40px;
 }
 
 .jumbotron {
  background: none;
  text-shadow: 2px 2px 0px #000000;
 }
 
 .btn {
  background: rgba(22, 22, 22, 0.8);
  color: white;
  border: 2px #000 solid;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transition-property: all;
 }
 
 .btn:hover {
  color: #fff;
  background: #000000;
  border: 2px #add8e6 solid;
 }
  
 .table > thead {
  color: black;
 }
 
 .panel {
  background: none;
  border: 1px dotted #fff;
 }
 
 .panel-title {
  font-size: 24px;
  letter-spacing: 2px;
  color: #ADD8E6;
  border-bottom: 1px dotted #fff;
  margin: 10px 0;
  padding: 0 0 10px 0;
  text-shadow: 2px 2px 0px #fff;
  color: #000000;
 }
 
 .text-center {
  /* this class isn't centering text */
  text-shadow: 2px 2px 0px #fff;
  color: #000000;
 }
 
 
 .dropdown {
  position: relative;
  display: inline-block;
 }
 
 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
 }
 
 .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
 }
 
 .dropdown a:hover {
  background-color: #ddd;
 }
 
 .show {
  display: block;
 }
 
 .text-center {
  text-align: center;
 }
 
 #sub-main div {
  vertical-align: top;
 }

 #event-table {
  max-width: 100%;
 }

 #event-content {
  font-size: 16px;
  letter-spacing: 2px;
  border: 1px dotted #fff;
  padding: 0 0 10px 0;
  text-shadow: 2px 2px 0px #fff;
  color: #000000;
 }

 #favorites-table {
   max-width: 100%;
 }

 #favorites-content {
  font-size: 16px;
  letter-spacing: 2px;
  border: 1px dotted #fff;
  padding: 0 0 10px 0;
  text-shadow: 2px 2px 0px #fff;
  color: #000000;
 }
 
 #map {
  height: 400px;
  width: 100%;
  color: #000000;
 }

 #weather{
  font-size: 20px;
  letter-spacing: 2px;
  padding: 0 0 10px 0;
  text-shadow: 2px 2px 0px #fff;
  color: #000000;
  text-align: center;
 }